{% extends 'opentrons/base.html' %}
{% load static %}
{% block content %}
<p>rrere</p>
{% if robot_inventory_data %}
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 style="text-align:center">Detailed information for Robot </h3> </div>
                <div class="panel-body">
                    <table class="table ">
    					<thead>
    						<tr>
    							<th>Robot name</th>
								<th>Location</th>
								<th>Configuration</th>
								<th>Serial Number</th>
								<th>Observations</th>
                            </tr>
                        </thead>
						<tbody>
							<tr>
                            	{% for value in robot_inventory_data.main %}
                                    <td>{{value}}</td>
                            	{% endfor %}
							</tr>
    					</tbody>
    				</table>
                </div> <!--  end of panel body -->
            </div> <!--  end of panel  -->
        </div> <!--  end of col-sm-7 -->
    </div> <!--  end of row -->

	<div class="row row-space-4 margin-b-1">
        <div class="col-sm-12 ">
            <div class="tab">
                <button class="tablinks" onclick="summaryBin(event, 'network')">Network Data</button>
				<button class="tablinks" onclick="summaryBin(event, 'pipette')">Pippetes Information</button>
				<button class="tablinks" onclick="summaryBin(event, 'modules')">Modules Used in Robot</button>
				<button class="tablinks" onclick="summaryBin(event, 'plugs')">Plugs Installed</button>

				<div id="network" class="tabcontent">
                    <div class="row row-space-4 margin-b-4">
                        <div class="col-sm-7 col-sm-offset-1" >
                            <div class="panel panel-default">
                                <div class="panel-heading"><h3>Network information</h3></div>
                                <div class="panel-body">
									<table class="table ">
				    					<thead>
				    						<tr>
				    							<th>Robot IP Address</th>
												<th>Host Name of Location</th>
												<th>Macbook Air MAC address</th>
				                            </tr>
				                        </thead>
										<tbody>
											<tr>
				                            	{% for value in robot_inventory_data.network %}

				                                    <td>{{value}}</td>

				                            	{% endfor %}
											</tr>
				    					</tbody>
				    				</table>
                                </div>  <!--  end of panel body  -->
                            </div> <!--// end panel -->
                        </div> <!--// end col-sm-7  -->
                    </div> <!--  end of row -->
                </div><!-- // end of tab network -->

				<div id="pipette" class="tabcontent">
                    <div class="row row-space-4 margin-b-4">
                        <div class="col-sm-7 col-sm-offset-1" >
                            <div class="panel panel-default">
                                <div class="panel-heading"><h3>Pipette information</h3></div>
                                <div class="panel-body">
									<table class="table ">
				    					<thead>
				    						<tr>
				    							<th>Right Pipette</th>
												<th>Right PipetteID</th>
												<th>Left Pipette</th>
												<th>Left PipetteID</th>
				                            </tr>
				                        </thead>
										<tbody>
											<tr>
												{% for value in robot_inventory_data.pipette %}
				                                    <td>{{value}}</td>
				                            	{% endfor %}
											</tr
				    					</tbody>
				    				</table>
                                </div>  <!--  end of panel body  -->
                            </div> <!--// end panel -->
                        </div> <!--// end col-sm-7  -->
                    </div> <!--  end of row -->
                </div><!-- // end of tab pippetes -->

				<div id="modules" class="tabcontent">
                    <div class="row row-space-4 margin-b-4">
                        <div class="col-sm-7 col-sm-offset-1" >
                            <div class="panel panel-default">
                                <div class="panel-heading"><h3>Module information</h3></div>
                                <div class="panel-body">
									<table class="table ">
				    					<thead>
				    						<tr>
				    							<th>Module type</th>
												<th>Module ID</th>
				                            </tr>
				                        </thead>
										<tbody>
				                            {% for value in robot_inventory_data.module %}
				                                <tr>
				                                    <td>{{value}}</td>
				                                </tr>
				                            {% endfor %}
				    					</tbody>
				    				</table>
                                </div>  <!--  end of panel body  -->
                            </div> <!--// end panel -->
                        </div> <!--// end col-sm-7  -->
                    </div> <!--  end of row -->
                </div><!-- // end of tab modules -->

				<div id="plugs" class="tabcontent">
                    <div class="row row-space-4 margin-b-4">
                        <div class="col-sm-7 col-sm-offset-1" >
                            <div class="panel panel-default">
                                <div class="panel-heading"><h3>Plugs information</h3></div>
                                <div class="panel-body">
									<table class="table ">
				    					<thead>
				    						<tr>
				    							<th>Plug Information</th>
				                            </tr>
				                        </thead>
										<tbody>
				                            {% for value in robot_inventory_data.plug %}
				                                <tr>
				                                    <td>{{value}}</td>
				                                </tr>
				                            {% endfor %}
				    					</tbody>
				    				</table>
                                </div>  <!--  end of panel body  -->
                            </div> <!--// end panel -->
                        </div> <!--// end col-sm-7  -->
                    </div> <!--  end of row -->
                </div><!-- // end of tab modules -->
			</div> <!--  end of Tab  -->
		</div> <!--  end of col-sm-12 -->
	</div> <!--  end of row -->


{% else %}
	<div class="row row-space-2 margin-b-4">
		<div class="col-sm-7 col-sm-offset-3">
			<div class="panel panel-danger">
				<div class="panel-heading"><h3 style="text-align:center">Not available information </h3> </div>
				<div class="panel-body">
					<p>There is no available information for the Robot that you request</p>
					<br><br>
					<p>Click on the following link to get the robot list defined in your lab</p>
					<p><a href="/robotInventory">GET ROBOT INVENTORY LIST</a></p>
				</div> <!--  end of panel body -->
			</div> <!--  end of panel  -->
		</div> <!--  end of col-sm-7 -->
	</div> <!--  end of row -->
{% endif %}
{% endblock %}
