{% extends 'opentrons/base.html' %}
{% load static %}
{% block content %}

{%if labware_list_inventory %}
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 style="text-align:center">Labware Inventory List</h3> </div>
                <div class="panel-body">
                    <table class="table ">
    					<thead>
    						<tr>
    							<th>Labware name</th>
								<th>Brand</th>
								<th>Category</th>
                                <th>Number of Wells</th>
                            </tr>
                        </thead>
						<tbody>
                            {% for labware, brand, category, wells , id in labware_list_inventory %}
                                <tr>
                                    <td><a href="/detailLabwareInventory={{id}}">{{labware}}</a></td>
    							    <td>{{brand}}</td>
                                    <td>{{category}}</td>
                                    <td>{{wells}}</td>
                                </tr>
                            {% endfor %}
    					</tbody>
    				</table>
                </div> <!--  end of panel body -->
            </div> <!--  end of panel  -->
        </div> <!--  end of col-sm-7 -->
    </div> <!--  end of row -->

{% else %}
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-7 col-sm-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 style="text-align:center">Labware Inventory List</h3> </div>
                <div class="panel-body">
                    <h4>You do not have record any Labware yet</h4>
                </div> <!--  end of panel body -->
            </div> <!--  end of panel  -->
        </div> <!--  end of col-sm-7 -->
    </div> <!--  end of row -->
{% endif %}
{% endblock %}
