{% extends 'opentrons/base.html' %}
{% load static %}
{% block content %}

{%if module_list_inventory %}
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-7 col-sm-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 style="text-align:center">Module Inventory List</h3> </div>
                <div class="panel-body">
                    <table class="table  table-hover">
    					<thead>
    						<tr>
    							<th>Module name</th>
								<th>Vendor</th>
                            </tr>
                        </thead>
						<tbody>
                            {% for module, vendor, id in module_list_inventory %}
                                <tr>
                                    <td><a href="/detailModuleInventory={{id}}">{{module}}</a></td>
    							    <td>{{vendor}}</td>
                                </tr>
                            {% endfor %}
    					</tbody>
    				</table>
                </div> <!--  end of panel body -->
            </div> <!--  end of panel  -->
        </div> <!--  end of col-sm-7 -->
    </div> <!--  end of row -->

{% else %}
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-7 col-sm-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 style="text-align:center">Module Inventory List</h3> </div>
                <div class="panel-body">
                    <h4>You do not have record any Module yet</h4>
                </div> <!--  end of panel body -->
            </div> <!--  end of panel  -->
        </div> <!--  end of col-sm-7 -->
    </div> <!--  end of row -->
{% endif %}
{% endblock %}
