{% extends 'opentrons/base.html' %}
{% load static %}
{% block content %}

{%if robot_list_inventory %}
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-7 col-sm-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 style="text-align:center">Robot Inventory List</h3> </div>
                <div class="panel-body">
                    <table class="table  table-hover">
    					<thead>
    						<tr>
    							<th>Robot name</th>
								<th>Location</th>
								<th>Configuration</th>
                            </tr>
                        </thead>
						<tbody>
                            {% for robot, location, config, id in robot_list_inventory %}
                                <tr>
                                    <td><a href="/detailRobotInventory={{id}}">{{robot}}</a></td>
    							    <td>{{location}}</td>
                                    <td>{{config}}</td>
                                </tr>
                            {% endfor %}
    					</tbody>
    				</table>
                </div> <!--  end of panel body -->
            </div> <!--  end of panel  -->
        </div> <!--  end of col-sm-7 -->
    </div> <!--  end of row -->

{% else %}
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-7 col-sm-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 style="text-align:center">Robot Inventory List</h3> </div>
                <div class="panel-body">
                    <h4>You do not have record any Robot yet</h4>
                </div> <!--  end of panel body -->
            </div> <!--  end of panel  -->
        </div> <!--  end of col-sm-7 -->
    </div> <!--  end of row -->
{% endif %}
{% endblock %}
