{% extends 'openrobots/base.html' %}
{% load static %}
{% block content %}
{% csrf_token %}
<style>
    .tab-content-color{
    background-color:#FFA07A !important;
    color:FA07A;
    padding:5px
}
</style>

{% if error_message %}
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-7 col-sm-offset-3">
            <div class="panel panel-danger">
                <div class="panel-heading"><h3 style="text-align:center">Not matches</h3> </div>
                <div class="panel-body">
                    {% for values in error_message %}
                        <h4>{{values}}</h4>
                    {% endfor %}
                </div> <!--  end of panel body -->
            </div> <!--  end of panel  -->
        </div> <!--  end of col-sm-7 -->
    </div> <!--  end of row -->
{% endif %}


{%if display_result %}
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-7 col-sm-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 style="text-align:center">Successful protocol file creation</h3> </div>
                <div class="panel-body">
                    <table class="table ">
    					<tbody>
    						<tr>
    							<td>Request CodeID</td>
                                <td>{{ display_result.0 }}</td>
                            </tr>
                            <tr>
    							<td>Protocol Type</td>
                                <td>{{ display_result.1 }}</td>
                            </tr>

                            <tr>
    							<td>Protocol_file</td>
                                <td><a href="/documents/protocol_files/{{display_result.2}}" download>Download the Protocol File<span class="glyphicon glyphicon-download-alt"></span></a></td>
                            </tr>

    					</tbody>
    				</table>
                </div> <!--  end of panel body -->
            </div> <!--  end of panel  -->
        </div> <!--  end of col-sm-7 -->
    </div> <!--  end of row -->


{% else %}
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-7 col-sm-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 style="text-align:center">Form to create input file for Opentrons OT-2</h3> </div>
                <div class="panel-body">
                    <p>From this page you can see that there are 3 tabs.<br> Select the one, that you want to create the protocol filter. </p>
                </div> <!--  end of panel body -->
            </div> <!--  end of panel  -->
        </div> <!--  end of col-sm-7 -->
    </div> <!--  end of row -->
    <div class="row row-space-4 margin-b-1">
        <div class="col-sm-12 ">
            <div class="col-sm-9 ">
                <h3>Protocols for Station A</h3>
            </div> <!--  end of col-sm-12 -->
            <div class="col-sm-3 ">
                <h3 style='text-align:right'>Protocol for Station B</h3>
            </div> <!--  end of col-sm-12 -->
            <div class="tab">
                <button class="tablinks" onclick="summaryBin(event, 'stationA_prot1')">Dispense buffer to tubes</button>
                <button class="tablinks" onclick="summaryBin(event, 'stationA_prot2')">Dispense beads to deep well plate</button>
                <button class="tablinks" onclick="summaryBin(event, 'stationA_prot3')">Dispense lysates to deep well plate with beads</button>
                <button class= " tablinks pull-right" onclick="summaryBin(event, 'stationB')">RNA extraction</button>
            </div> <!--  end tabs -->
        </div> <!--  end of col-sm-12 -->

        <div id="stationA_prot1" class="tabcontent">
            <div class="row row-space-4 margin-b-4">
                <div class="col-sm-7" >
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>Station A Protocol:</h3>
                            <h5 style="text-align:center"> Dispense buffer to tubes</h5>
                        </div>
                        <div class="panel-body">
                            <!-- FORM for Station A protocol 1 -->
                            {% if form_data.station_a.1 %}
                                <form method="post" enctype="multipart/form-data" name="createfile" id="createfile" class="form-horizontal well">
                                    {% csrf_token %}
                                    <input type="hidden" name="action" value="createprotocolfile"/>
                                    <input type="hidden" name="station" value="Station A"/>
                                    <input type="hidden" name="protocol" value="1"/>
                                    <input type="hidden" name="template" value="{{form_data.station_a.1}}"/>
                                    <div class="form-group required">

                                        <label class="col-sm-5  control-label" for="NUM_SAMPLES" >Number of Samples </label>
                                        <div class="col-sm-5"><input class="form-control" type="text" required = "required" name="NUM_SAMPLES" id="NUM_SAMPLES" size="100" maxlength="100"></div>
                                        <BR><br>
                                        <label class="col-sm-5 control-label" for="BUFFER_LABWARE" >Buffer labware</label>
                                        <div class="col-sm-4"><select class="form-control"  required = "required" name="BUFFER_LABWARE" id="BUFFER_LABWARE">
                                                                <option value="">Choose a value</option>
                                                                {% for value in form_data.buffer_labware_data %}
                                                                    <option value="{{value}}">{{value}}</option>
                                                                {% endfor %}
                                                       </select>
                                        </div>  <!-- end select input -->
                                        <BR><br>


                                        <label class="col-sm-5 control-label" for="DESTINATION_LABWARE" >Destination Labware</label>
                                        <div class="col-sm-4"><select class="form-control"  required = "required" name="DESTINATION_LABWARE" id="DESTINATION_LABWARE">
                                                                <option value="">Choose a value</option>
                                                                {% for value in form_data.destination_labware_data %}
                                                                    <option value="{{value}}">{{value}}</option>
                                                                {% endfor %}
                                                       </select>
                                        </div>  <!-- end select input -->
                                        <BR><br>
                                        <label class="col-sm-5 control-label" for="DEST_TUBE" >Destination tube</label>
                                        <div class="col-sm-4"><select class="form-control"  required = "required" name="DEST_TUBE" id="DEST_TUBE">
                                                                <option value="">Choose a value</option>
                                                                {% for value in form_data.dest_tube_labware_data %}
                                                                    <option value="{{value}}">{{value}}</option>
                                                                {% endfor %}
                                                       </select>
                                        </div>  <!-- end select input -->
                                        <br><br>
                                        <label class="col-sm-5  control-label" for="VOLUME_BUFFER" >Volume buffer </label>
                                        <div class="col-sm-5"><input class="form-control" type="text" required = "required" name="VOLUME_BUFFER" id="VOLUME_BUFFER" size="100" maxlength="100"></div>
                                        <BR><br>
                                    </div>  <!-- end from-group   -->
                                    <div class="form-group">
                                        <label class="col-sm-5 control-label" for="notes" >User Notes</label>
                                        <div class="col-sm-6">
                                            <textarea class="form-control" name="usernotes" value="" id="usernotes" rows="4" cols="60" maxlength="220"></textarea>
                                        </div>  <!-- end textarea input -->
                                        <br>
                                    </div>  <!-- end from-group   -->
                                    <br>
                                    <br>
                                    <input class="btn pull-left btn-primary" type="reset" value="Reset Fields">
                                    <input class="btn pull-right btn-primary" type="submit" value="Submit">
                                </form>
                                <p> Fields marked with <FONT COLOR="Red">*</FONT> are mandatory</p>

                            {% else %}
                                <h5>There is no template defined for Station A using Protocol 1: dispense buffer to tubes. </h5>
                            {% endif %}

                        </div>  <!--  end of panel body  -->
                    </div> <!--// end panel -->
                </div> <!--// end col-sm-7  -->
            </div> <!--  end of row -->
        </div><!-- // end of tab stationA protocol 1-->

        <div id="stationA_prot2" class="tabcontent">
            <div class="row row-space-4 margin-b-4">
                <div class="col-sm-7 col-sm-offset-1" >
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>Station A Protocol:</h3>
                            <h5 style="text-align:center">Dispense beads to deep well plate.</h5>
                        </div>
                        <div class="panel-body">
                            <!-- FORM for Station A protocol 2 -->
                            {% if form_data.station_a.2 %}
                                <form method="post" enctype="multipart/form-data" name="createfile" id="createfile" class="form-horizontal well">
                                    {% csrf_token %}
                                    <input type="hidden" name="action" value="createprotocolfile"/>
                                    <input type="hidden" name="station" value="Station A"/>
                                    <input type="hidden" name="protocol" value="2"/>
                                    <input type="hidden" name="template" value="{{form_data.station_a.2}}"/>
                                    <div class="form-group required">
                                        <br><br>
                                        <label class="col-sm-5  control-label" for="NUM_SAMPLES" >Number of Samples </label>
                                        <div class="col-sm-5"><input class="form-control" type="text" required = "required" name="NUM_SAMPLES" id="NUM_SAMPLES" size="100" maxlength="100"></div>
                                        <BR><br>
                                        <label class="col-sm-5 control-label" for="BEADS_LABWARE" >Beads labware</label>
                                        <div class="col-sm-4"><select class="form-control"  required = "required" name="BEADS_LABWARE" id="BEADS_LABWARE">
                                                                <option value="">Choose a value</option>
                                                                {% for value in form_data.beads_labware_data %}
                                                                    <option value="{{value}}">{{value}}</option>
                                                                {% endfor %}
                                                       </select>
                                        </div>  <!-- end select input -->
                                        <BR><br>
                                        <label class="col-sm-5 control-label" for="PLATE_LABWARE" >Plate Labware</label>
                                        <div class="col-sm-4"><select class="form-control"  required = "required" name="PLATE_LABWARE" id="PLATE_LABWARE">
                                                                <option value="">Choose a value</option>
                                                                {% for value in form_data.plate_labware_data %}
                                                                    <option value="{{value}}">{{value}}</option>
                                                                {% endfor %}
                                                       </select>
                                        </div>  <!-- end select input -->
                                        <br><br>
                                        <label class="col-sm-5  control-label" for="VOLUME_BEADS" >Volume beads </label>
                                        <div class="col-sm-5"><input class="form-control" type="text" required = "required" name="VOLUME_BEADS" id="VOLUME_BEADS" size="100" maxlength="100"></div>
                                        <BR><br>
                                    </div>  <!-- end from-group   -->
                                    <div class="form-group">
                                        <label class="col-sm-5 control-label" for="notes" >User Notes</label>
                                        <div class="col-sm-6">
                                            <textarea class="form-control" name="usernotes" value="" id="usernotes" rows="4" cols="60" maxlength="220"></textarea>
                                        </div>  <!-- end textarea input -->
                                        <br>
                                    </div>  <!-- end from-group   -->
                                    <br>
                                    <br>
                                    <input class="btn pull-left btn-primary" type="reset" value="Reset Fields">
                                    <input class="btn pull-right btn-primary" type="submit" value="Submit">
                                </form>
                                <p> Fields marked with <FONT COLOR="Red">*</FONT> are mandatory</p>

                            {% else %}
                                <h5>There is no  template defined for Station A using Protocol 2: dispense beads to deep well plate. </h5>
                            {% endif %}

                        </div>  <!--  end of panel body  -->
                    </div> <!--// end panel -->
                </div> <!--// end col-sm-7  -->
            </div> <!--  end of row -->
        </div><!-- // end of tab stationA protocol 1-->

        <div id="stationA_prot3" class="tabcontent">
            <div class="row row-space-4 margin-b-4">
                <div class="col-sm-7 col-sm-offset-3" >
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>Station A Protocol:</h3>
                            <h5 style="text-align:center">Dispense lysates to deep well plate with beads.</h5>
                        </div>
                        <div class="panel-body">
                            <!-- FORM for Station A protocol 3 -->
                            {% if form_data.station_a.3 %}
                                <form method="post" enctype="multipart/form-data" name="createfile" id="createfile" class="form-horizontal well">
                                    {% csrf_token %}
                                    <input type="hidden" name="action" value="createprotocolfile"/>
                                    <input type="hidden" name="station" value="Station A"/>
                                    <input type="hidden" name="protocol" value="3"/>
                                    <input type="hidden" name="template" value="{{form_data.station_a.3}}"/>
                                    <div class="form-group required">
                                        <br><br>
                                        <label class="col-sm-5  control-label" for="NUM_SAMPLES" >Number of Samples </label>
                                        <div class="col-sm-5"><input class="form-control" type="text" required = "required" name="NUM_SAMPLES" id="NUM_SAMPLES" size="100" maxlength="100"></div>
                                        <BR><br>
                                        <label class="col-sm-5 control-label" for="LYSATE_LABWARE" >Lysate labware</label>
                                        <div class="col-sm-4"><select class="form-control"  required = "required" name="LYSATE_LABWARE" id="LYSATE_LABWARE">
                                                                <option value="">Choose a value</option>
                                                                {% for value in form_data.lysate_labware_data %}
                                                                    <option value="{{value}}">{{value}}</option>
                                                                {% endfor %}
                                                       </select>
                                        </div>  <!-- end select input -->
                                        <BR><br>


                                        <label class="col-sm-5 control-label" for="PLATE_LABWARE" >Plate Labware</label>
                                        <div class="col-sm-4"><select class="form-control"  required = "required" name="PLATE_LABWARE" id="PLATE_LABWARE">
                                                                <option value="">Choose a value</option>
                                                                {% for value in form_data.plate_labware_data %}
                                                                    <option value="{{value}}">{{value}}</option>
                                                                {% endfor %}
                                                       </select>
                                        </div>  <!-- end select input -->
                                        <br><br>
                                        <label class="col-sm-5 control-label" for="VOLUME_LYSATE" >Volume Lysate</label>
                                        <div class="col-sm-5"><input class="form-control" type="text" required = "required" name="VOLUME_LYSATE" id="VOLUME_LYSATE" size="100" maxlength="100"></div>
                                        <BR><br>
                                        <label class="col-sm-5  control-label" for="BEADS" >Beads </label>
                                        <div class="col-sm-4">
                                            <label class="radio-inline"><input type="radio" name="BEADS" required = "required" value="True">YES</label>
                                            <label class="radio-inline"><input type="radio" name="BEADS" required = "required" value="False" checked>NO</label>
                                        </div>  <!-- end  radio -->
                                        <BR><br>
                                    </div>  <!-- end from-group   -->
                                    <div class="form-group">
                                        <label class="col-sm-5 control-label" for="notes" >User Notes</label>
                                        <div class="col-sm-6">
                                            <textarea class="form-control" name="usernotes" value="" id="usernotes" rows="4" cols="60" maxlength="220"></textarea>
                                        </div>  <!-- end textarea input -->
                                        <br>
                                    </div>  <!-- end from-group   -->
                                    <br>
                                    <br>
                                    <input class="btn pull-left btn-primary" type="reset" value="Reset Fields">
                                    <input class="btn pull-right btn-primary" type="submit" value="Submit">
                                </form>
                                <p> Fields marked with <FONT COLOR="Red">*</FONT> are mandatory</p>

                            {% else %}
                                <h5>There is no template defined for Station A using Protocol 3: dispense lysates to deep well plate with beads. </h5>
                            {% endif %}
                        </div>  <!--  end of panel body  -->
                    </div> <!--// end panel -->
                </div> <!--// end col-sm-7  -->
            </div> <!--  end of row -->
        </div><!-- // end of tab stationA protocol 1-->


        <div id="stationB" class="tabcontent">
            <div class="row row-space-4 margin-b-4">
                <div class="col-sm-7 col-sm-offset-5" >
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>Station B Protocol:</h3>
                            <h5 style="text-align:center">RNA extraction.</h5>
                        </div>
                        <div class="panel-body">
                            {% if form_data.station_b %}
                            <!-- FORM for Station B -->

                                <form method="post" enctype="multipart/form-data" name="createfile" id="createfile" class="form-horizontal well">
                                    {% csrf_token %}
                                    <input type="hidden" name="action" value="createprotocolfile"/>
                                    <input type="hidden" name="station" value="Station B"/>
                                    <input type="hidden" name="template" value="{{form_data.station_b}}"/>
                                    <div class="form-group required">
                                        <br><br>
                                        <label class="col-sm-5  control-label" for="NUM_SAMPLES" >Number of Samples </label>
                                        <div class="col-sm-5"><input class="form-control" type="text" required = "required" name="NUM_SAMPLES" id="NUM_SAMPLES" size="100" maxlength="100"></div>
                                        <BR><br>
                                        <label class="col-sm-5 control-label" for="REAGENT_LABWARE" >Reagent labware</label>
                                        <div class="col-sm-4"><select class="form-control"  required = "required" name="REAGENT_LABWARE" id="REAGENT_LABWARE">
                                                                <option value="">Choose a value</option>
                                                                {% for value in form_data.reagent_labware_data %}
                                                                    <option value="{{value}}">{{value}}</option>
                                                                {% endfor %}
                                                       </select>
                                        </div>  <!-- end select input -->
                                        <BR><br>

                                        <label class="col-sm-5 control-label" for="MAG_PLATE" >Magnate Plate</label>
                                        <div class="col-sm-4"><select class="form-control"  required = "required" name="MAG_PLATE" id="MAG_PLATE">
                                                                <option value="">Choose a value</option>
                                                                {% for value in form_data.mag_plate_data %}
                                                                    <option value="{{value}}">{{value}}</option>
                                                                 {% endfor %}
                                                       </select>
                                        </div>  <!-- end select input -->
                                        <br><br>
                                        <label class="col-sm-5 control-label" for="WASTE_LABWARE" >Waste Plate</label>
                                        <div class="col-sm-4"><select class="form-control"  required = "required" name="WASTE_LABWARE" id="WASTE_LABWARE">
                                                                <option value="">Choose a value</option>
                                                                {% for value in form_data.waste_plate_data %}
                                                                    <option value="{{value}}">{{value}}</option>
                                                                {% endfor %}
                                                       </select>
                                        </div>  <!-- end select input -->
                                        <BR><br>
                                        <label class="col-sm-5 control-label" for="ELUTION_LABWARE" >Elution labware</label>
                                        <div class="col-sm-4"><select class="form-control"  required = "required" name="ELUTION_LABWARE" id="ELUTION_LABWARE">
                                                                <option value="">Choose a value</option>
                                                                {% for value in form_data.elution_labware_data %}
                                                                    <option value="{{value}}">{{value}}</option>
                                                                {% endfor %}
                                                       </select>
                                        </div>  <!-- end select input -->
                                        <br><br>
                                        <label class="col-sm-5 control-label" for="DISPENSE_BEADS" >Dipense beads</label>
                                        <div class="col-sm-4">
                                            <label class="radio-inline"><input type="radio" name="DISPENSE_BEADS" required = "required" value="True">YES</label>
                                            <label class="radio-inline"><input type="radio" name="DISPENSE_BEADS" required = "required" value="False" checked>NO</label>
                                        </div>  <!-- end  radio -->
                                        <br><br>
                                        <label class="col-sm-5 control-label" for="TIP_TRACK" >Tip track</label>
                                        <div class="col-sm-4">
                                            <label class="radio-inline"><input type="radio" name="TIP_TRACK" required = "required" value="True" checked>YES</label>
                                            <label class="radio-inline"><input type="radio" name="TIP_TRACK" required = "required" value="False">NO</label>
                                        </div>  <!-- end  radio -->
                                        <br><br>
                                    </div>  <!-- end from-group   -->
                                    <div class="form-group">
                                        <label class="col-sm-5 control-label" for="notes" >User Notes</label>
                                        <div class="col-sm-6">
                                            <textarea class="form-control" name="usernotes" value="" id="usernotes" rows="4" cols="60" maxlength="220"></textarea>
                                        </div>  <!-- end textarea input -->
                                        <br>
                                    </div>  <!-- end from-group   -->
                                    <br>
                                    <br>
                                    <input class="btn pull-left btn-primary" type="reset" value="Reset Fields">
                                    <input class="btn pull-right btn-primary" type="submit" value="Submit">
                                </form>
                                <p> Fields marked with <FONT COLOR="Red">*</FONT> are mandatory</p>

                            {% else %}
                            <h5>There is no  Protocol template defined for Station B </h5>
                            {% endif %}
                        </div>  <!--  end of panel body  -->
                    </div> <!--// end panel -->
                </div> <!--// end col-sm-7  -->
            </div> <!--  end of row -->
        </div><!-- // end of tab stationB -->



            </div><!-- // end of tab  -->
        </div><!-- // end of col-sm-12 -->
    </div><!-- // end of row -->
{% endif %}
{% endblock %}
