{% extends 'openrobots/base.html' %}
{% load static %}
{% block content %}
{% csrf_token %}

<div class="row row-space-2 margin-b-4">
	<div class="col-sm-10 col-sm-offset-1">
		<div class="panel panel-default">
			<div class="panel-heading"><h3 style="text-align:center">Protocol Template Basic Information</h3> </div>
			<div class="panel-body">
				<table class="table ">
					<thead>
						<tr>
							<th>Protocol Project Name</th>
							<th>Station Name</th>
							<th>Protocol Number</th>
							<th>User Name</th>
							<th>Protocol Template File Name</th>
							<th>Upload date</th>
							<th>Active</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							{% for  id, protocol, station, prot_number, user, protocolTemplateFileName, file , date , active in protocol_template_data.basic_data %}
                                <td>{{ protocol }}</td>
                                <td>{{ station }}</td>
								<td>{{prot_number}}</td>
                                <td>{{ user }}</td>
								<td><a href="documents/{{file}}" download>{{protocolTemplateFileName}}<span class="glyphicon glyphicon-download-alt"></span></a></td>
								<td>{{date}}</td>
								{% if date %}
									<td>True</td>
								{% else %}
									<td>False</td>
								{% endif %}
                            {% endfor %}
						</tr>
					</tbody>
				</table>
			</div> <!--  end of panel body -->
		</div> <!--  end of panel  -->
	</div> <!--  end of col-sm-7 -->
</div> <!--  end of row -->

<div class="row row-space-2 margin-b-4">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading"><h3 style="text-align:center">Metadata Information</h3> </div>
			<div class="panel-body">
				<table class="table ">
					<thead>
						<tr>
							<th>Protocol Name</th>
							<th>Author names</th>
							<th>Source</th>
							<th>API Level</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							{% for  value in protocol_template_data.metadata %}
                                <td>{{ value }}</td>
                            {% endfor %}
						</tr>
					</tbody>
				</table>
			</div> <!--  end of panel body -->
		</div> <!--  end of panel  -->
	</div> <!--  end of col-sm-6 -->
</div> <!--  end of row -->
{% if protocol_template_data.parameters %}
	<div class="row row-space-2 margin-b-4">
		<div class="col-sm-8 col-sm-offset-2">
			<div class="panel panel-default">
				<div class="panel-heading"><h3 style="text-align:center">Parameter Information</h3> </div>
				<div class="panel-body">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Parameter Name</th>
								<th>Name in form</th>
								<th>Default Value</th>
							</tr>
						</thead>
						<tbody>
							{% for  p_name, f_name, default in protocol_template_data.parameters%}
								<tr>
	                                <td>{{ p_name }}</td>
									<td>{{ f_name }}</td>
									<td>{{ default }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div> <!--  end of panel body -->
			</div> <!--  end of panel  -->
		</div> <!--  end of col-sm-6 -->
	</div> <!--  end of row -->
{% else %}

{% endif %}
{% endblock %}
