{% load static %}
<!--========== FOOTER ==========-->
<footer class="footer">
	<div class="content container">
		<div class="row">
			<div class="col-md-4">
			<h4>Logos</h4>
				<img class="footer-logo" src="{% static "img/logo_bu_isciii.png" %}" alt="ISCiii_Bio_Informatic_Logo">
				<a href="http://www.isciii.es" target="_blank"><img class="footer-logo" src="{% static "img/isciii_logo.jpg" %}" alt="ISCiii_Logo"></a>
			</div>
			<div class="col-md-3  col-md-offset-1">
			<h4>Follow us</h4>
			<!--<a href="mailto:#">bioinformatica@isciii.es</a>-->
			<div>
				<ul class="social-icons icon-round list-unstyled list-inline">

					<li> <a href="https://twitter.com/BUISCIII" target="_blank"><i class="fab fa-twitter fa-3x"></i></a></li>
					<li> <a href="https://github.com/BU-ISCIII" target="_blank"><i class="fab fa-github fa-3x"></i></a></li>
				</ul>
			</div>
			</div>
			<div class="col-md-3 col-md-offset-1">
			<h4>Contact us</h4>
			<ul class="social-icons icon-round list-unstyled list-inline">
				<li> <a href="mailto:bioinformatica@isciii.es" ><i class="fas fa-envelope fa-3x"></i></a></li>
			</ul>
			</div>
		</div>


		<!--// end row -->
		<div class="row">
			<div class="col-md-2 col-md-offset-5">
				<p >Version 1.0.9</p>
			<!--// col md 2 -->
		<!--// end row -->
	</div>
</footer>
<!--========== END FOOTER ==========-->
