
<div id="myModal" class="modal fade" role="dialog">

    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-5 col-sm-offset-3" >

            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2>Description template fields </h2>
                </div>
                <div class="modal-body">
                    <br>
                    <h5>Helpful hints to fill the form for adding new template protocol file</h5>

                    <ul class="list-group">
                        <li class="list-group-item">Upload Template file:
                            <p>It is the python file with the actions to run the protocol on the Robot</p>
                        </li>
                        <br>

                        <li class="list-group-item">Protocol description to be displayed in Form:
                            <p>Write the name that will display in the form when investigator select the protocol template</p>
                        </li>
                        <br><br>

                        <li class="list-group-item">Select Protocol Project:
                            <p>Select from the option list the project from where the protocol template file belongs to</p>
                        </li>
                        <br>
                        <li class="list-group-item">Select Station and Protocol
                            <p>To help you to identify the right station and the protocol, in the selection option it is showed
                            in this format:
                            <br>
                            "Name of the station" -- "main use for the station" -- Protocol Number </p>
                        </li>

                        <br>
                        <li class="list-group-item">Protocol Template Version
                            <p>Type the version assigned for this protocol template </p>
                        </li>
                        <br>


                    </ul> <!-- end list-group run -level-->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div> <!--// end modal content  -->
        </div> <!--// end col-sm-6  -->
    </div> <!--// end row -->

</div>
