{% extends 'openrobots/base.html' %}
{% load static %}
{% block content %}
{% csrf_token %}
<script src="https://d3js.org/d3.v5.min.js"></script>



<style>
    .shadow {
        -webkit-filter: drop-shadow( 0px 3px 3px rgba(0,0,0,.5) );
        filter: drop-shadow( 0px 3px 3px rgba(0,0,0,.5) );
    }
</style>


{% if error_message %}
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-7 col-sm-offset-3">
            <div class="panel panel-danger">
                <div class="panel-heading"><h3 style="text-align:center">Error when requesting Robot jobs</h3> </div>
                <div class="panel-body">
                    {% for values in error_message %}
                        <h4>{{values}}</h4>
                    {% endfor %}
                </div> <!--  end of panel body -->
            </div> <!--  end of panel  -->
        </div> <!--  end of col-sm-7 -->
    </div> <!--  end of row -->
{% endif %}

{% if display_robot_utilization %}
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-6 ">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 style="text-align:center">Robot Utilization Summary</h3> </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Measure data</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Number of actions</td>
                                <td>{{display_robot_utilization.summary.n_actions}}</td>
                            </tr>
                            <tr>
                                <td>Number of Robots</td>
                                <td>{{display_robot_utilization.summary.n_robots}}</td>
                            </tr>
                            <tr>
                                <td>Number of Executed Protocols</td>
                                <td>{{display_robot_utilization.summary.n_exec_prot}}</td>
                            </tr>
                            <tr>
                                <td>Number of different protocols</td>
                                <td>{{display_robot_utilization.summary.n_dif_exec_prot}}</td>
                            </tr>

                        </tbody>
                    </table>

                </div> <!--  end of panel body -->
            </div> <!--  end of panel  -->
        </div> <!--  end of col-sm-7 -->

        <div class="col-sm-5 col-sm-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 style="text-align:center">Robot graphics</h3> </div>
                <div class="panel-body">
                        <div id="chart" width = "350" height = "300"></div>
                </div> <!--  end of panel body -->


            </div> <!--  end of panel  -->
        </div> <!--  end of col-sm-7 -->
    </div> <!--  end of row -->

    <script type="text/javascript" src="{% static "js/d3js_graphics/dj3_pie.js"%}"></script>
    <script>
        window.onload = my_pie({{display_robot_utilization.grafic|safe}}, 'Robot Actions');
    </script>


    <div class="row row-space-4 margin-b-1">
        <div class="col-sm-12 ">
            <div class="tab">
                {% if display_robot_utilization.actions.Station_A %}
                    <button class="tablinks" onclick="summaryBin(event, 'stationA')">Station A Utilization</button>
                {% endif %}
                {% if display_robot_utilization.actions.Station_B %}
                    <button class="tablinks" onclick="summaryBin(event, 'stationB')">Station B Utilization</button>
                {% endif %}
                {% if display_robot_utilization.actions.Station_C %}
                    <button class="tablinks" onclick="summaryBin(event, 'stationC')">Station C Utilization</button>
                {% endif %}
                {% if display_robot_utilization.actions.None %}
                    <button class="tablinks" onclick="summaryBin(event, 'stationNone')">Not defined Station</button>
                {% endif %}

                <div id="stationA" class="tabcontent">
                    <div class="row row-space-4 margin-b-4">
                        <div class="col-sm-10 col-sm-offset-1" >
                            <div class="panel panel-default">
                                {% for robot , values in display_robot_utilization.actions.Station_A.items %}
                                    <div class="panel-heading"><h3 style="text-align:center">Robot Utilization {{robot}}</h3></div>
                                    <div class="panel-body">

    									<table class="table table-hover">
    				    					<thead>
    				    						<tr>
    				    							<th>User Requested</th>
                                                    <th>Action</th>
                                                    <th>Start Date</th>
                                                    <th>Finish Date</th>
                                                    <th>Execution Duration</th>

    				                            </tr>
    				                        </thead>
    										<tbody>
                                                {% for  user, action, s_date, f_date, duration ,modified, id in values %}
    											    <tr>
    				                                    <td>{{user}}</td>
                                                        <td><a href="/detailActionRobot={{id}}">{{action}}</a></td>
                                                        <td>{{s_date}}</td>
                                                        <td>{{f_date}}</td>
                                                        <td>{{duration}}</td>
                                                    </tr>
    				                            {% endfor %}
    				    					</tbody>
    				    				</table>
                                    </div>  <!--  end of panel body  -->
                                {% endfor %}
                            </div> <!--// end panel -->
                        </div> <!--// end col-sm-10  -->
                    </div> <!--  end of row -->
                </div><!-- // end of tab station A -->

                <div id="stationB" class="tabcontent">
                    <div class="row row-space-4 margin-b-4">
                        <div class="col-sm-10 col-sm-offset-1" >
                            <div class="panel panel-default">
                                {% for robot , values in display_robot_utilization.actions.Station_B.items %}
                                    <div class="panel-heading"><h3 style="text-align:center">Robot Utilization {{robot}}</h3></div>
                                    <div class="panel-body">

    									<table class="table table-hover">
    				    					<thead>
    				    						<tr>
    				    							<th>User Requested</th>
                                                    <th>Action</th>
                                                    <th>Start Date</th>
                                                    <th>Finish Date</th>
                                                    <th>Execution Duration</th>

    				                            </tr>
    				                        </thead>
    										<tbody>
                                                {% for  user, action, s_date, f_date, duration ,modified, id in values %}
    											    <tr>
    				                                    <td>{{user}}</td>
                                                        <td><a href="/detailActionRobot={{id}}">{{action}}</a></td>
                                                        <td>{{s_date}}</td>
                                                        <td>{{f_date}}</td>
                                                        <td>{{duration}}</td>
                                                    </tr>
    				                            {% endfor %}
    				    					</tbody>
    				    				</table>
                                    </div>  <!--  end of panel body  -->
                                {% endfor %}
                            </div> <!--// end panel -->
                        </div> <!--// end col-sm-10  -->
                    </div> <!--  end of row -->
                </div><!-- // end of tab station B -->

                <div id="stationC" class="tabcontent">
                    <div class="row row-space-4 margin-b-4">
                        <div class="col-sm-10 col-sm-offset-1" >
                            <div class="panel panel-default">
                                {% for robot , values in display_robot_utilization.actions.Station_C.items %}
                                    <div class="panel-heading"><h3 style="text-align:center">Robot Utilization {{robot}}</h3></div>
                                    <div class="panel-body">

    									<table class="table table-hover">
    				    					<thead>
    				    						<tr>
    				    							<th>User Requested</th>
                                                    <th>Action</th>
                                                    <th>Start Date</th>
                                                    <th>Finish Date</th>
                                                    <th>Execution Duration</th>

    				                            </tr>
    				                        </thead>
    										<tbody>
                                                {% for  user, action, s_date, f_date, duration, modified, id in values %}
    											    <tr>
    				                                    <td>{{user}}</td>
                                                        <td><a href="/detailActionRobot={{id}}">{{action}}</a></td>
                                                        <td>{{s_date}}</td>
                                                        <td>{{f_date}}</td>
                                                        <td>{{duration}}</td>
                                                    </tr>
    				                            {% endfor %}
    				    					</tbody>
    				    				</table>
                                    </div>  <!--  end of panel body  -->
                                {% endfor %}
                            </div> <!--// end panel -->
                        </div> <!--// end col-sm-10  -->
                    </div> <!--  end of row -->
                </div><!-- // end of tab station C -->

                <div id="stationNone" class="tabcontent">
                    <div class="row row-space-4 margin-b-4">
                        <div class="col-sm-10 col-sm-offset-1" >
                            <div class="panel panel-default">
                                {% for robot , values in display_robot_utilization.actions.None.items %}
                                    <div class="panel-heading"><h3 style="text-align:center">Robot Utilization {{robot}}</h3></div>
                                    <div class="panel-body">

    									<table class="table table-hover">
    				    					<thead>
    				    						<tr>
    				    							<th>User Requested</th>
                                                    <th>Action</th>
                                                    <th>Start Date</th>
                                                    <th>Finish Date</th>
                                                    <th>Execution Duration</th>

    				                            </tr>
    				                        </thead>
    										<tbody>
                                                {% for  user, action, s_date, f_date, duration , modified, id in values %}
    											    <tr>
    				                                    <td>{{user}}</td>
                                                        <td><a href="/detailActionRobot={{id}}">{{action}}</a></td>
                                                        <td>{{s_date}}</td>
                                                        <td>{{f_date}}</td>
                                                        <td>{{duration}}</td>
                                                    </tr>
    				                            {% endfor %}
    				    					</tbody>
    				    				</table>
                                    </div>  <!--  end of panel body  -->
                                {% endfor %}
                            </div> <!--// end panel -->
                        </div> <!--// end col-sm-10  -->
                    </div> <!--  end of row -->
                </div><!-- // end of tab stationNone -->
            </div> <!--  end of Tab  -->
        </div> <!--  end of col-sm-12 -->
    </div> <!--  end of row -->

{% else %}
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-7 col-sm-offset-3" >
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Robot Utilization</h3> </div>
                <div class="panel-body">
                    <form method="post" enctype="multipart/form-data" name="robotsjobs" id="robotsjobs" class="form-horizontal">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="robotsjobs"/>
                        <div class="form-group">
                            <label class="col-sm-5 control-label" for="stations" >Station Type</label>
                            <div class="col-sm-6"><select class="form-control"  name="stations" id="stations">
                                                    <option value="">Choose a value</option>
                                                    {% for value in form_data.stations %}
                                                        <option value="{{value}}">{{value}}</option>
                                                    {% endfor %}
                                              </select>
                            </div>  <!-- end select input -->
                        </div>  <!-- end from-group   -->
                        <div class="form-group">
                            <label class="col-sm-5 control-label" for="robots" >Robot Name</label>
                            <div class="col-sm-6"><select class="form-control"  name="robots" id="robots">
                                                    <option value="">Choose a value</option>
                                                    {% for value in form_data.robots %}
                                                        <option value="{{value}}">{{value}}</option>
                                                    {% endfor %}
                                              </select>
                            </div>  <!-- end select input -->
                        </div>  <!-- end from-group   -->
                        <div class="form-group">
                            <label class="col-sm-5 control-label" for="protocolsAction" >Executed Protocol</label>
                            <div class="col-sm-6"><select class="form-control"  name="protocolsAction" id="protocolsAction">
                                                    <option value="">Choose a value</option>
                                                    {% for value in form_data.protocols_action %}
                                                        <option value="{{value}}">{{value}}</option>
                                                    {% endfor %}
                                              </select>
                            </div>  <!-- end select input -->
                        </div>  <!-- end from-group   -->
                        <div class="form-group">
                            <label class="col-sm-5 control-label" for="startdate" >Start Date (DD-MM-YYYY)</label>
                            <div class="col-sm-5"><input class="form-control" type="date" name="startdate" id="startdate"></div>

                            <br><br>
                            <label class="col-sm-5 control-label" for="enddate" >End Date (DD-MM-YYYY)</label>
                            <div class="col-sm-5"><input class="form-control" type="date" name="enddate"  id="enddate"></div>
                        </div>  <!-- end from-group   -->
                        <input class="btn pull-right btn-primary" type="submit" value="Submit" id="btnSubmit">
                    </form> <!-- end form -->
                </div> <!--  end of panel body -->
            </div> <!--  end of panel  -->
        </div> <!--  end of col-sm-7 -->
    </div> <!--  end of row -->
</script>
{% endif %}

{% endblock %}
