{% extends 'openrobots/base.html' %}
{% load static %}
{% block content %}
{% csrf_token %}
{%include 'openrobots/jexcel_functionality.html' %}
<style>
    .scrolling-wrapper {
        overflow-x: auto;
        overflow-y: auto;
        white-space: nowrap;
        height: 400px;
    }
 </style>

{% if error_message %}
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-7 col-sm-offset-3">
            <div class="panel panel-danger">
                <div class="panel-heading"><h3 style="text-align:center">Error when uploading template file</h3> </div>
                <div class="panel-body">
                    {% for values in error_message %}
                        <h4>{{values}}</h4>
                    {% endfor %}
                </div> <!--  end of panel body -->
            </div> <!--  end of panel  -->
        </div> <!--  end of col-sm-7 -->
    </div> <!--  end of row -->
{% endif %}

{% if created_new_file %}

    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-10 col-sm-offset-1" >
            <div class="panel panel-default">
                <div class="panel-heading"><h3 style="text-align:center">New Protocol Template has been added</h3> </div>
                <div class="panel-body">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th>Protocol Name</th>
                                <th>Protocol Template File Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ created_new_file.protocol_name }}</td>
                                <td>{{ created_new_file.file_name }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <br><br>
                    <input type="button" value="Upload a new template" onclick="location.href ='/uploadProtocolTemplates' ;"/>
                </div>  <!--  end of panel body  -->
            </div> <!--// end panel -->
        </div> <!--// end col-sm-6  -->

{% elif define_parameter %}
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-12" >
            <div class="panel panel-default">
                <div class="panel-heading"><h3 style="text-align:center">Define the Parameters used in Protocol</h3> </div>
                <div class="panel-body">
                    {% if define_parameter.reusing_data %}
                        <h5 style="text-align:center">Reusing parameter data from {{define_parameter.reusing_data}} </h5>
                    {% endif %}
                    <form method="post" enctype="multipart/form-data" name="defineParameter"  id="defineParameter" class="form-horizontal well" style="min-height: 500px;">
                        {% csrf_token %}

                        <input type="hidden" name="action" value="defineParameter"/>
                        <input type="hidden" name="protocol_template_id" value="{{define_parameter.protocol_template_id}}"/>
                        <div id="spreadsheet"></div>

                        <script>
                            var data = [{% for values in define_parameter.parameter_values %}
                                [{% for value in values%}
                                '{{value}}',{% endfor %}],{% endfor %}
                            ];

                            mySpreadsheet = $('#spreadsheet').jexcel({
                                data:data,
                                columns: [
                                    { type: 'text', title:'{{define_parameter.heading.0}}', width:250 },
                                    { type: 'text', title:'{{define_parameter.heading.1}}', width:250 },
                                    { type: 'dropdown', title:'{{define_parameter.heading.2}}', width:100 , source :[{% for value in define_parameter.type_available %}{'id':'{{value}}','name':'{{value}}'}, {% endfor %}]},
                                    { type: 'text', title:'{{define_parameter.heading.3}}', width:300 },
                                    { type: 'text', title:'{{define_parameter.heading.4}}', width:100 },

                                ],
                                allowInsertColumn:false,
                                allowDeleteColumn:false,
                                allowRenameColumn:false,
                                allowInsertRow:true,
                                allowDeleteRow:true,
                                tableOverflow:true,
                                tableHeight:'400px',
                                csvFileName:'protocol_parameters',
                                minDimensions:[{{define_parameter.invalid_heading|length}},10],

                            });

                        </script>
                        <br><br>
                        <input class="btn pull-right btn-primary" type="submit" value="Submit">

                    </form>
                    <script>
                        $(document).ready(function () {
                            $("#defineParameter").submit(function (e) {
                                //stop submitting the form to see the disabled button effect
                                // e.preventDefault();
                                //disable the submit button
                                var table_data = $('#spreadsheet').jexcel('getData')
                                var data_json = JSON.stringify(table_data)
                                $("<input />").attr("type", "hidden")
                                  .attr("name", "parameter_data")
                                  .attr("value", data_json)
                                  .appendTo("#defineParameter");
                                $("#btnSubmit").attr("disabled", true);
                                return true;
                            });
                        });
                    </script>
                </div>  <!--  end of panel body  -->
            </div> <!--// end panel -->
        </div> <!--// end col-sm-6  -->
    </div> <!--// end row -->
{% else %}
    <div class="row row-space-2 margin-b-4">
        <BR>
        <div class="col-sm-12" >
            <div class="tab">
                <button class="tablinks" onclick="summaryBin(event, 'add_template')" id="defaultOpen">Form to add a new template file for OT-2</button>
                <button class="tablinks" onclick="summaryBin(event, 'protocol_defined')">List of Protocol templates defined</button>
            </div> <!--  end tabs -->

            <div class="col-sm-9 col-sm-offset-1">
                <div id="add_template" class="tabcontent">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h3 style="text-align:center">Form to add a new template file for OT-2 </h3> </div>
                        <div class="panel-body">
                            <form method="post" enctype="multipart/form-data" name="addtemplatefile" id="addtemplatefile" class="form-horizontal">
                                {% csrf_token %}
                                <div class="form-group required">
                                    <input type="hidden" name="action" value="addtemplatefile"/>
                                    <label class="col-sm-5 control-label">Upload Template file</label>
                                    <div class="col-sm-7"><input class="form-control" required = "required" type="file" id="upfile" name="newtemplatefile" size="80"></div>
                                    <BR> <BR> <BR>
                                    <label class="col-sm-5 control-label" for="prottype" >Protocol type to be displayed in Form</label>
                                    <div class="col-sm-7"><input class="form-control" type="text" id="prottype" name="prottype" size="80"></div>
                                    <br><br><br>
                                    <label class="col-sm-6 control-label" for="mmtube" >Station using the protocol</label>
                                    <div class="col-sm-5"><select class="form-control"  required = "required" name="station" id="station">
                                               				<option value="">Choose a value</option>
                                                            {% for value in template_data.stations %}
                                                                <option value="{{value}}">{{value}}</option>
                                                            {% endfor %}

                                                      </select>
                                    </div>  <!-- end select input -->
                                    <br><br><br>
                                    <label class="col-sm-6 control-label" for="mmtube" >Select Protocol type</label>
                                    <div class="col-sm-5"><select class="form-control"  required = "required" name="protocoltype" id="protocoltype">
                                               				<option value="">Choose a value</option>
                                                            {% for value in template_data.protocol_types %}
                                                                <option value="{{value}}">{{value}}</option>
                                                            {% endfor %}

                                                      </select>
                                    </div>  <!-- end select input -->
                                </div> <!-- end from group -->
                                <br>
                                <input class="btn pull-right btn-primary" type="submit" value="Submit" id="btnSubmit">
                            </form>
                        </div>  <!--  end of panel body  -->
                        <p> Fields marked with <FONT COLOR="Red">*</FONT> are mandatory</p>

                    </div> <!--// end panel -->
                </div><!-- // end of tab add_template -->
            </div> <!--// end col-sm-8  -->

            <div id="protocol_defined" class="tabcontent">
                <div class="col-sm-9 col-sm-offse-2" >
                    <BR> <BR> <BR>
                    <div class="panel panel-default">
                        <div class="panel-heading"><h3 style="text-align:center">Protocols template defined</h3></div>
                        <div class="panel-body">
                            {% if stored_protocol_file %}
                                <div class="scrolling-wrapper">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Protocol name</th>
                                                <th>Protocol</th>
                                                <th>Station</th>
                                                <th>User</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for  id, protocol, station, user, prot_name, file in stored_protocol_file %}
                                                <tr>
                                                    <td><a href="/displayTemplateFile={{ id }}">{{ prot_name }}</a></td>
                                                    <td>{{ protocol }}</td>
                                                    <td>{{ station }}</td>
                                                    <td>{{ user }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div> <!--  end of scrolling  -->
                            {% else %}
                                <p>No Protocols template files have been defined </p>
                            {% endif %}
                        </div>  <!--  end of panel body  -->
                    </div> <!--// end panel -->
                </div> <!--// end col-sm-6  -->
            </div><!-- // end of tab protocol_defined -->
            <script>
                //gets the element by its id
                var myFile = document.getElementById('upfile');
                //binds to onchange event of the input field
                myFile.addEventListener('change', function() {
                 var max_size = 204800 // 20 KB

               //this.files[0].size gets the size of your file.
               if (this.files[0].size > max_size) {
                 alert("Maximun size of the file is 200 KB ");
                 document.getElementById("btnSubmit").disabled = true;
                 }
                else if (this.files[0].name.split('.').pop().toLowerCase() != 'py'){
                    alert("File name does not have python extension ");
                    document.getElementById("btnSubmit").disabled = true;
                }
               else {
                   document.getElementById("btnSubmit").disabled = false;}
               });

            </script>
            <script>
                // Get the element with id="defaultOpen" and click on it
                document.getElementById("defaultOpen").click();
            </script>
        </div> <!--// end row -->
    {% if pending_protocols %}
        <div class="row row-space-2 margin-b-4">
            <div class="col-sm-12" >
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 style="text-align:center">Protocol Templates which are pending to set the parameters</h3> </div>
                    <div class="panel-body">
                        <form method="post" enctype="multipart/form-data" name="defineParameter" id="defineParameter" class="form-horizontal">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="addParameter"/>
                            <table class="table ">
            					<thead>
            						<tr>
            							<th>Protocol Type Name</th>
            							<th>Station Name</th>
            							<th>User Name</th>
            							<th>Protocol Template File Name</th>
                                        <th>Select Protocol Template</th>
            						</tr>
            					</thead>
            					<tbody>
                                    {% for  id, protocol, station, user, protocolTemplateFileName, file in pending_protocols %}
            						    <tr>

                                            <td>{{ protocol }}</td>
                                            <td>{{ station }}</td>
                                            <td>{{ user }}</td>
                                            <td>{{protocolTemplateFileName}}</td>
                                            <td><input type="radio" name="protocol_template_id" value ="{{id}}" </input></td>

            						    </tr>
                                    {% endfor %}
            					</tbody>
            				</table>
                            <br><br>
                            <input class="btn pull-right btn-primary" type="submit" value="Submit" id="btnSubmit">
                        </form>
                    </div>  <!--  end of panel body  -->
                </div> <!--// end panel -->
            </div> <!--// end col-sm-6  -->
        </div> <!--// end row -->
    {% endif %}
{% endif %}
{% endblock %}
